RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f



RewriteRule ^(.*)$ $1.php [L]
RewriteRule ^branch/([a-zA-Z0-9]+)$ branch-detail.php?branch_id=$1  [L]
RewriteRule ^([a-zA-Z0-9]+).jakomita$ $1.php  [L]
RewriteRule ^dealer/([a-zA-Z0-9]+)$ dealer-detail.php?dealer_id=$1  [L]



